.orderPage-list {
  padding: 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.orderPage-list .discardAllBtn {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 12px;
}

.orderPage-table {
  border: 1px solid #000000;
  width: 100%;
}

.orderPage-table th,
.orderPage-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
}

@media (max-width: 1110px) {
  .orderPage-table {
    width: 1100px;
  }
}

.delSingleOrder-Btn {
  display: block;
  background-color: #c44021;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.delSingleOrder-Btn:hover {
  opacity: 0.8;
}

.orderStatus a {
  padding: 10px;
  display: block;
  color: #c44021;
}
.orderStatus a.completed {
  color: #5534a7;
}

.orderTableWrap {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.orderTableWrap::-webkit-scrollbar {
  display: none;
}

.btn-group {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
}
.btn-group .btn.active{
  background-color: #5534a7;
  color: #fff;
}
/* .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #666;
  color: #fff;
}
.btn-group .btn.active {
  background-color: #000;
  color: #fff;
} */
